

<div class="fieldset">
<br/>
<h2 style="font-size:30px">Change your password</h2>
<br/>
<%= notice %>
<%= alert %>

<%= form_for(current_user, url: users_profile_update_url, html: { method: :put }) do |f| %>

  <%= f.hidden_field :reset_password_token %>
  <div class="field">
    <%= f.label :password, "New password" %><br/>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
</div>
